@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blood_red:#ef7348;
}

@media (prefers-color-scheme: dark) {
  :root {
    --blood_red:#ef7348;
  }
}

body{
  background: var(--blood_red);
}

.dungeon{
  font-family: 'Platypi', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -2px;
}

